
.my-masonry-grid {
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    margin-left: -30px; 
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; 
    background-clip: padding-box;
  }
  

  .my-masonry-grid_column > div { 
    margin-bottom: 30px;
  }


.shop{
    padding:  10px;
    
}


.shop-products {
        .shop-card{
           display: flex;
           align-items: center;
           flex-direction: column;
            .img  {
                img{
                    height: 130px;
                }
            }

            .decs{
              h2{
                font-size: 15px;
                 font-weight: 600;
              }
              p{
                text-align: center;
                font-weight: 500;
                font-size: 13px;
              }
            }
            .add-to{
              button{
                 padding: 8px 16px;
                 font-family: 'Kumbh Sans';
                 font-size: 0.9em;
                 background: #ccc;
                 border:1px solid transparent;
                 border-radius: 10px;
                 font-weight: 600;
                 cursor: pointer;
                 outline: none;
                 box-shadow: 0px 4px 6px #0000004d;
                 transition: all 250ms ease-in-out;
                 &:hover{
                  scale: (1.03);
                  background: rgb(69, 69, 151);
                  color: #fff;

                 }
              }
            }
        }
    }